{%extends 'base.html'%}
{%block body%}
{%load static%}
<style>
    .img-wrap img {
        padding: 10px;
        border-radius: 80%;
        box-shadow: 0 0 10px #999999;
    }

    .img-wrapp img {
        padding: 10px;
        border-radius: 80%;

    }
</style>

<div class="bg-light">
    <div class="container py-5">
        <div class="row h-100 align-items-center py-5">
            <div class="col-lg-6">
                <h1 class="display">Mr. Siddhesh Karande</h1>
                <p class="lead text-muted mb-0">
                    Hello there! ProcureTour is a Tour recommendation web app with Restaurant searches build
                    as a part of Microsoft Engage Program'22. The web app include function such as register,
                    login, allow user to give rating, get the recommended places and search Restaurants.
                     I used searching and sorting algorithm in Restaurant searches. </p>

            </div>
            <div class="col-lg-6 d-none d-lg-block img-wrap"><img src="{%static 'images/sid.png'%}" alt=""
                    class="img-fluid">

                <ul class="social mb-0 list-inline mt-3 text-center">
                    <li class="list-inline-item"><a href="https://twitter.com/siddhes64195216" class="social-link"><i
                                class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.instagram.com/siddheshkarande17/"
                            class="social-link"><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/siddhesh-karande-830279202/"
                            class="social-link"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>

        </div>
    </div>
</div>

<div class="bg-white py-5">
    <div class="container py-5">
        <div class="row align-items-center mb-5">
            <div class="col-lg-6 order-2 order-lg-1 img-wrapp"><img src="{%static 'images/Mentee.png'%}" alt=""
                    class="img-fluid"></i>
                <h2 class="font-weight-light">Special Thanks . . .</h2>
                <hr>
                <h4 class="font-weight-light">Microsoft Engage Programme and Mentor</h4>
                <p class="font-italic text-muted mb-4"> </p><a href="https://acehacker.com/microsoft/engage2022/"
                    class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a>
            </div>
            <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2 "><img src="{%static 'images/img.png'%}" alt=""
                    class="img-fluid mb-4 mb-lg-0"></div>
        </div>

    </div>
</div>





{%endblock%}